.form-button2 {
    border: none;
    text-transform: upercase;
    letter-spacing: 2px;
    color: #fff;
    transition: all 300ms;
    cursor: pointer;
  }



.form-button2:hover {
  background-color: rgb(150, 36, 32);
  color: #fff;
}